@page "/"
@using PLCConnector
@inherits RenderableComponentBase

<h1>Hello, world!</h1>

Welcome to your new app.

<p>@Entry.Plc.MAIN._app._mainStation.counter.Cyclic</p>

@code
{
    protected override void OnInitialized()
    {
        UpdateValuesOnChange(Entry.Plc.MAIN._app._mainStation);
    }
}