@page "/"

@using Vortex.Presentation.Controls.Blazor.RenderableContent

@inherits RenderableComponentBase

@*<RenderableContentControl Context="@Entry.Plc.MAIN._app._mainStation.counter" />*@

<h3>test</h3>

@code {

}
